html{
    color:rgb(103, 14, 29);
    scroll-behavior: smooth;
    font-family: 'Nunito', sans-serif;
}
#nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style-type: none;
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: max-content;
    background-color: pink;
    grid-area: nav;

}
#proj{
    grid-area: project;
}

#project3{
    grid-area: proj3;
}
#bloodofchrist{
    grid-area: proj5;
    box-sizing: border-box;
    padding-bottom: 20vh;
}
#aframe{
    grid-area: proj1;
}

#nav a{
    font-size: 1em;
    margin-right: auto;
    margin-left: 0px;
    box-sizing: border-box;
    width:90%;
    background-color:rgb(255, 255, 255);
    height: 100%;
    height: 50%;
    padding: 0 5vw;
}
h1,h2{
    font-size: 2em;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
p, li{
    font-size: 1em;
    margin-left: 20px;
    margin-right: 20px;
}

#edu span{
    font-weight: 700;
}
#edu div{
    box-sizing: border-box;
    background-color: antiquewhite;
    width: auto;
    margin: 5%;
    padding: 20px 5px;
}
#skills{
    grid-area: skills;
}

#skills ul li{
    margin: 0 auto;
}



@media screen and (max-width: 915px){
    #skills ul{
        display: flex;
        flex-direction: column;
    }
    iframe {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        height: auto;
    }
    img{
        display: block;
        width: 100%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width:916px) {
    img{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    iframe {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    #skills ul{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        margin: 0 auto;
    }
    #edu{
        grid-area: edu;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "school" "col";
    }
    #edu #box1{
        grid-area: -1;
        list-style-type: none;
    }
    #edu #box2{
        grid-area: -1;
        list-style-type: none;
    }   
}
p{
    box-sizing: border-box;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.page{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: "nav"
                        "header"
                         "me"
                         "edu"
                         "skills"
                         "project"
                         "proj1"
                         "proj2"
                         "proj3"
                         "proj4"
                         "proj5"
                         "footer";
}

#snowflakes{
    grid-area: proj4;
}

footer{
    grid-area: footer;
    text-align: center;
    box-sizing: border-box;
    width: 100%;
    height: max-content;
    background-color: antiquewhite;
    padding: 5px 0px;
}
header{
    grid-area: header;
}
header h1{
    text-align: center;
    font-size: 3em;
}
#intro{
    grid-area: me;
    display: flex;
    margin: 0px;
    box-sizing: border-box;
    width: 90%;
}
#intro p{
    margin: 0 2vw;
    box-sizing: border-box;
    margin: auto;
    padding: 2vw;
}
a:link{
    color: #EF959D;
}
a:visited{
    color: #56203D;
}
a:focus{
    color: #7D8CC4;
}
a:hover{
    color:#7D8CC4;
}
a:active{
    color: #7D8CC4;
}