html{
    background-color: #201672;
    color: #fa81a1;
    font-family: 'Libre Franklin', sans-serif;
    scroll-behavior: smooth;
    overflow-x: hidden;
    cursor: url('img/cursor.png'), auto;
    list-style-type: none;
}
header, #intro, #skills, #talk{
    margin-left: 2%;
    margin-right: 2%;
    text-align: center;
} 
#intro{
    padding-top: 5%;
}
h1{
    font-size: 3em;
    font-weight: 400;
}
#nav ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
}
#nav ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    width: 100%;
    height:50px;
    flex-direction: row;
  }
  
  #nav li{
    box-sizing: border-box;
    width: 100%;
    text-align: center;
  }
  #nav li a {
    display: block;
    padding: 8px 16px;
    text-decoration: none;
  }

#skills h2, h1{
    color:#CFFF04;
}
#skills h2{
    -webkit-text-stroke-width: 0.2px;
    -webkit-text-stroke-color: black;
    font-size: 2.5em;
    font-weight: 500;
}
#projects h2{
    color:black;
    box-sizing: content-box;
    background-color: white;
    width:auto;
    padding-left: 20px;
}
#projects p, #projects h3{
    color:white;
    margin-left: 20px;
}
/*project 1 rick and morty*/
#rick, #dress-up, #blood-of-christ, #shump,
#suburbs, #snowflakes {
    display: block;
    box-sizing: border-box;
    width: 100%;
    max-height: max-content;
    padding: 20px;
    border-radius: 10px;
}
#rick, #dress-up, #blood-of-christ, #shump,
#suburbs, #snowflakes img iframe{
    margin-left: auto;
    margin-right: auto;
}
#blood-of-christ{
    background-color: #a6b12b;
    border-radius: 10px;
}
#rick{background-color: #D96F65;}
#dress-up{background-color: #DB4B92;}
#shump{background-color: #3D995C;}
#suburbs{background-color: #493ACD;}
#snowflakes{background-color: #2A56C6;}
#suburbs img{width: 30%; height: auto;}
footer{
    margin-top: 10%;
    list-style-type: none;
}

#skills li{
    list-style-type: none;
    color:#FF9466;
    box-sizing: border-box;
    width: max-content;
    flex-basis: 100%;
    height:0;
}
a:link{color:white;}
a:visited{color:rgb(181, 181, 181);}
a:hover{color:#9ED3FF;}
a:focus{color:#9ED3FF;}
a:active{color:#9ED3FF;}

/*referenced from w3 school*/
::-webkit-scrollbar{
    width: 10px;
    height: 5px;
}
::-webkit-scrollbar-thumb{
    background-color: aliceblue;
    border-radius: 15px;
}
/* Change the link color on hover */
#nav li a:hover {
    background-color: #555;
    color: white;
  }

@media only screen and (max-width:800px) {

      .header{
        display: block;
        padding-top: 500px;
      }
      #intro p{
        font-size: 1.5em;
        font-weight: 580;
      }
      #skills ul{
        display: flex;
        flex-direction: column;
        text-align: center;
      }
      #skills li{
        margin-left: auto;
        margin-right: auto;
      }

     
     #rick, #dress-up, #blood-of-christ, #shump, #suburbs, #snowflakes img{
        float: center;
        width:80%;
        height: auto;
     }
     #blood-of-christ iframe{
        float: center;
        width: 100%;
        height: auto;
     }
     #shump img{
        width:39%; height: auto;
    }
    
    footer li{
        display: block;
        color: white;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 10px;
    }
}


@media only screen and (min-width:801px){
    header{
        display: flex;
        flex-direction: row;
        padding-top: 5%;
        justify-content: center;
    }
    #text{
        margin-left: 20px;
        padding-top: 10%;
        font-weight: 500;
    }
    #intro p{
        padding-top: 2.5%;
        padding-bottom: 3%;
        font-weight: 550;
        font-size: 2em;
    }
    #skills ul{
        display: flex;
        flex-direction: row;
    }
    #shump img{
        width:30%;
        height: auto;
    }
    footer li{
        display: inline;
        padding-left: 10px;
        padding-right: 10px;
        color:white;
    }
    #nav{
        position: fixed;
        box-sizing: border-box;
        width: 100%;
        background-color: #201672;
           
    }
    #rick, #dress-up, #blood-of-christ, #shump, #suburbs, #snowflakes{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-right: 5%;
     }
    
}