h2, h1{
    padding: 2%;
    color:white;
    box-sizing: border-box;
    width: 100%;
    height: auto;
}

body{
    background-image: radial-gradient(circle,#241474, #AB9EED);
}
@keyframes fadeIn {
    from {
        /*background-color: rgba(255, 255, 255, 0);*/
        color: rgba(255, 255, 255, 0);
    }
    to {
        /*background-color: rgb(255, 255, 255);*/
        color: rgb(255, 255, 255);
    }
}
#intro{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
#intro img{
    width: 50px;
    height: auto;
}
video{
    width: 75%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
}
.carousel-container {
  width: 400px; 
  overflow: hidden;
  margin: auto;
}

.image-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: max-content;
  margin-bottom: 10px;
  align-items: flex-start;
  animation: carousel-move 10s infinite linear;
  animation-iteration-count: infinite; 
}

.image-wrapper img {
  width: 400px; /* Each image takes up the container width */
  height: auto;
}

@keyframes carousel-move {
  0% {
    transform: translateX(400px);
  }
  100% {
    transform: translateX(-400px);
  }
}
p{
    box-sizing: content-box;
    color:white;
    /*background-color: rgba(255, 255, 255, 0.333);*/
    width: 75%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    animation: fadeIn;
    animation-duration: 5s;
}