body{
    font-family: "Liter", sans-serif;
    font-weight: 400;
    font-style: normal;
    /*margin: 0px 16px;*/
    font-size: 1em;
}
header{
    display: flex;
    justify-content: space-between;
    background-color: #20186F;
    color:white;
    width: 100%;
    height: auto;
    cursor: pointer;
}
header img{
    width: 50px;
    height: auto;
}
video{
    width: 100%;
}

nav ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
    font-size: 1em;
    font-weight: 400;
    z-index: 1;
}

footer{
    text-align: center;
    box-sizing: border-box;
    width: 100%;
    height: max-content;
    background-color: rgb(102, 5, 5);
    color:white;
    padding: 1px;
    margin: 0;
    position: fixed;
    bottom: 0;
    left: 0;
}

#empty{
    padding: 10vh;
}