html{
    font-family: "Liter", serif;
    margin: 16px;
    font-size: 1.5em;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#intro img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
ul{
    list-style-type: none;
}
.featured-projects{
    box-sizing: border-box;
    background-color: azure;
    padding: 20px;
    margin-bottom: 16px;
}