.featured-work{
     display: grid; 
    grid-template-columns: auto 1fr; 
    grid-template-rows: auto 1fr auto; 
    gap: 0px 10px; 
    grid-template-areas: 
    "image title"
    "image body"
    "image tags";
}
h1{
    text-align: center;
}
.featured-work, .work-button {
    box-sizing: border-box;
    width: 90%;
    height: auto;
    background-color: #20186F;
    color:white;
    margin: 30px auto;
    padding: 20px;
    border-radius: 20px;
    word-wrap: break-word;
    white-space: normal;
    
}
.featured-work ul, h2, p {
    margin: 1%;
    padding: 0px;
}
.featured-work p a{
    color: white;
} 
.visual {
    width: 400px;
    height: 400px;
    border-radius: 10px;
    grid-area: image;
}

.featured-work ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    grid-area: tags;
}

.featured-work li {
    box-sizing: content-box;
    border-width: 1px;
    width: max-content;
    background-color: rgba(255, 255, 255);
    color:black;
    height: 20px;
    border-radius: 20px;
    border-style: solid;
    padding: 10px;
    margin-right: 10px;
}

.featured-work h4 {
    grid-area: title;
}

.featured-work p {
    grid-area: body;
}

.work-button {
    background-color: white;
}

#last-div {
    margin-bottom: 300px;
}

@media only screen and (max-width:850px){
    .visual {
        width: 200px;
        height: 200px;
        align-self: center;
    }
    .featured-work {
        display: flex;
        flex-direction: column;
        justify-self: center;
    }
    
}